.new-addon {
    position: relative;
    display: inline-block;
}
img.boom-fest-images {
    position: absolute;
    right: -1px;
    top: -7px;
    z-index: 200;
    width: 100% !important;
    max-width: 115px !important;
    transform: rotate(86deg);
}