/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
 @font-face {
  font-family: new-year;
  src: url(New-year.ttf);
}

#boom-fest-font{
    font-family: new-year;
    font-size:100px;
}