.new-addon {
    position: relative;
    display: inline-block;
}
img.boom-fest-images {
    position: absolute;
    right: -2px;
    top: -5px;
    z-index: 200;
    width: 100% !important;
    max-width: 130px !important;
    transform: rotate(86deg);
}